.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
.scrolled-up{
transform:translateY(0); transition: all 0.3s ease-in-out;
}

.navbar{
    // background-color: cornflowerblue !important;
    position: fixed !important;
    width: 100%;
}

.logo{
  margin-left: 0.5rem;
}