/* body{
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(assets/images/price-tracker-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */

.App {
  text-align: center;
  /* margin-top: 5rem; */
  margin-top: 3.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .App{
  display: flex;
  flex-direction: column;
} */

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
transform:translateY(0); transition: all 0.3s ease-in-out;
}

.abc{
  height: 2000px;
  width: 100%;
  background-color: brown;
}

.sidebar{
  position: relative;
  z-index: 22;
}